@import "./colors.scss";
@import "./extends.scss";
@import "./titles.scss";
@import "./buttons.scss";
@import "./home.scss";
@import "./contact.scss";
@import "./deliveries.scss";
@import "./terms.scss";
@import "./testimony.scss";
@import "./footer.scss";
@import "./menu.scss";
@import "./customInput.scss";
@import "./home.mobile.scss";
@import "./pagination.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

.banner {
    background-color: $banner;
    &_info {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin: 0 auto;
        padding: 35px 20px;
        @extend %size_screen;

        @media only screen and (max-width: 420px) { padding: 25px 15px; }

        h2 {
            color: black;
            font-size: 22px;
            font-weight: normal;
            margin-bottom: 10px;
        }
    }
}

textarea { resize: none!important; }
