@import "./colors.scss";
@import "./extends.scss";
@import "./titles.scss";
@import "./buttons.scss";
@import "./home.scss";
@import "./contact.scss";
@import "./deliveries.scss";
@import "./terms.scss";
@import "./testimony.scss";
@import "./footer.scss";
@import "./menu.scss";
@import "./customInput.scss";
@import "./home.mobile.scss";
@import "./pagination.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

.banner {
    background-color: $banner;
    &_info {
        display: flex;
        justify-content: center;
        width: 80%;
        margin: 0 auto;
        flex-direction: column;
        padding: 35px 20px;

        @media only screen and (max-width: 800px) {
            width: 95%;
        }

        @media only screen and (max-width: 420px) {
            width: 100%;
            padding: 25px 15px;
        }

        h2 {
            color: black;
            font-size: 22px;
            font-weight: normal;
            margin-bottom: 10px;
        }
    }
}

textarea { resize: none!important; }
