$brownie: #64442e;
$brownie_light: lighten(#64442e, 30%);

// Menu
$menu-text: #fefacd;
$menu-text-hover: #c8b804;

// Footer
$footer-text: #bfbfbf;

$banner: #eee;
$h3: rgb(255, 255, 255);

$bottom_line: #875c3e;

// Buttons
$bg_button: #755036;
$bg_button-hover: #80573b;
