.field {
    label {
        font-size: 14px!important;
    }
    input[type="text"], textarea {
        margin-bottom: 4px!important;
       
        // &::placeholder {
        //     color: $brownie;
        // }
    }
    span {
        color: lighten(red, 10%);
        font-size: 13px!important;
    }

    .error {
        border: 1px solid lighten(red, 25%)!important;
    }
}