%size_screen {
    width: 80%;
    margin: 15px auto;
    padding: 20px;

    @media only screen and (max-width: 800px) { width: 95%; }

    @media only screen and (max-width: 400px) {
        width: 100%;
        padding: 15px;
    }
}

%box_size {
    display: flex;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
    padding: 20px;

    @media only screen and (max-width: 800px) { width: 95%; }

    @media only screen and (max-width: 400px) { width: 100%; }
}
