.home {
    width: 80%;
    margin: 0 auto;
    padding: 20px;

    @media only screen and (max-width: 800px) {
        width: 95%;
    }

    @media only screen and (max-width: 400px) {
        width: 100%;
        padding: 15px;
    }

    text-align: center;
    article:nth-child(2) {
        margin-top: 50px;
    }

    article {
        h1 {
            margin-bottom: 0px;
        }

        .home_icons {
            img {
                margin-right: 5px;
                border: 1px solid $brownie_light;
                border-radius: 4px;
                margin-top: 8px;
            }
            .border {
                border: none;
                border-top-left-radius: 30px;
                border-bottom-right-radius: 30px;
            }
        }

        .home_icons2 {
            .carousel .slider-wrapper {
                width: 45%;
                @media only screen and (max-width: 767px) {
                    width: 50%;
                }
                @media only screen and (max-width: 635px) {
                    width: 60%;
                }
                @media only screen and (max-width: 500px) {
                    width: 75%;
                }
            }
            .carousel.carousel-slider .control-arrow {
                background-color: $brownie;
                top: 45%;
                bottom: 45%;
                padding: 0px 8px;
                border-radius: 50%;
            }

            img {
                margin-right: 5px;
                border: 1px solid $brownie_light;
                border-radius: 4px;
                margin-top: 8px;
            }
            .border {
                border: none;
                border-top-left-radius: 30px;
                border-bottom-right-radius: 30px;
            }
        }
    }
}
