.home {
    @extend %box_size;
    flex-direction: column;
    text-align: center;
    margin-top: 15px;

    article:nth-child(2) {
        margin-top: 50px;
    }
    
    article {
        h1 { margin-bottom: 0px; }

        .home_icons {
            img {
                margin-right: 5px;
                border: 1px solid $brownie_light;
                border-radius: 4px;
                margin-top: 8px;
            }
            .border {
                border: none;
                border-top-left-radius: 30px;
                border-bottom-right-radius: 30px;
            }
        }
    }
}