.home_desk {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    text-align: center;

    &-icons {
        
        // img {
        //     width: 200px;
        //     margin-right: 5px;
        //     border: 1px solid $brownie_light;
        //     border-radius: 4px;
        //     margin-top: 8px;
        // }
    }
}