header {
    background-color: $brownie;

    .menu {
        display: flex;
        width: 80%;
        margin: 0 auto;
        padding: 30px 20px;

        a:first-child { flex: 1; }

        a {
            font-size: 18px;
            color: $menu_text;
            margin-right: 15px;

            &:hover { color: $menu_text-hover; }
        }
    }
}

@media only screen and (max-width: 800px) {
    header .menu {
        width: 95%;
    }
}

@media only screen and (max-width: 420px) {
    header .menu {
        width: 100%;
        padding: 20px;
    }
}
