.pagination {
    margin-top: 10px;
    &_page {
        display: flex;
        justify-content: center;
        margin-right: 5px;
    }

    &_buttons {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 5px;
    }
}