.terms {
    @extend %size_screen;

    p, ul, li {
        text-align: justify;
        // color: #424949;
        font-size: 15px;
    }

    h3 {
        display: flex;
        justify-content: space-between;
        background-color: #eee;
        padding: 10px;
        border-radius: 3px;
        color: darken($brownie, 8%)!important;
    }

    &_definitions,
    &_user { margin-top: 20px; }

    ul {
        list-style: unset;
        margin-left: 18px;
        li:not(:first-child) {
            margin-top: 12px;
        }

        li span { font-weight: 700; }
    }
}
