.testimony {
    width: 80%;
    margin: 30px auto;
    padding: 20px;
    @media only screen and (max-width: 800px) {
        width: 95%;
    }

    @media only screen and (max-width: 400px) {
        width: 100%;
    }

    .post:not(.post:nth-child(1)) {
        margin-top: 10px;
    }

    .post {
        background-color: $banner;
        // background-color: lighten(black, 35%);
        color: $brownie;
        padding: 15px 20px;
        border: 1px solid gainsboro;
        border-radius: 4px;

        p {
            // color: darken(gainsboro, 40%);
            white-space: pre-line;
        }

        i {
            font-size: 10px;
            color: $brownie;
        }
    }
}
