.testimony {
    width: 80%;
    margin: 30px auto;
    padding: 20px;
    @media only screen and (max-width: 800px) { width: 95%; }

    @media only screen and (max-width: 400px) { width: 100%; }

    .post:not(.post:nth-child(1)) { margin-top: 13px; }

    .post {
        padding-bottom: 7px;
        border-bottom: 1px solid gainsboro;

        i {
            font-size: 10px;
            color: lighten(black, 35%);
        }
    }

    &_give {
        border: 1px solid gainsboro;
        // margin: 15px 0 30px;
        margin-bottom: 30px;
        border-radius: 4px;
        padding: 20px;
        width: 60%;

        .form  {
            margin-top: 15px;
        }

        
    }
}
